body{ 
	overflow-y: scroll; 
	padding: 0; 
	margin: 0; 
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px; 
	background-color: #F1F1F1; 
	
}
html{
    height: 100%;
    width: 100%;
}


#nav{ 
	background-color: #222; 
	position: fixed; 
	width: 100%; top: 0; 
	font-weight:bold;
	letter-spacing : 2px;
}
	
#nav-wrapper{ 
	width: 960px; 
	height:70px;
	margin: 0 auto; 
	padding-top:6px;
	text-align: left; 
	font-size: 20px;

}
#nav ul{ 
	list-style-type: none; 
	padding-left: 10px; 
	margin: 0; 

}
#nav ul li{ 
	display: inline-block; 
	height:100%;
}
#nav ul li a,visited{ 
	color: #CCC; 
	display: inline-block; 
	padding: 15px; 
	text-decoration: none; 
}
.header{
    background: url("header.jpg") no-repeat top center fixed;
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.logo {
	font-size : 100px;
	padding-top: 250px;
	padding-left: 5%;
	text-shadow: 4px 4px 4px gray;
	color: #FA0;
	font-family: 'Anton', sans-serif;
	letter-spacing:4px;
}
.sublogo {
	font-size : 50px;
	padding-left: 5%;
	font-family: 'Anton', sans-serif;
	text-shadow: 4px 4px 4px gray;
	color: #FA0;
	letter-spacing:2px;
}
#wrapper{ 
	width:100%;
	margin: 0 auto; 
	text-align: left; 

}
.contsection{ 
  width:100%;
  margin: 50px auto 0 auto;
  background-color: #FFF;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  }
.box{
  width: 350px;
  height: 400px;
  color: #222;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing:1px;
}
.image{
	width:300px;
	height:200px;
}
.image2{
	width:250px;
	height:250px;
}
.contact p {
	font-size:20px;
}
h1{
	font-size:25px
	font-weight:bold;
}
@media all and (max-width: 1000px) {
	#nav a	 {
	font-size:16px;
	}
}